<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  
    <style>
        html{
            padding: 50px;
        } 
    </style>
</head>
<body>
    
    <div class="container">
        <div class="page-header text-center">
            <h1>MATCHA</h1>
            <a href="/logout" class="btn btn-danger btn-sm"></a>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    
                    <!-- <h3><span class="fa fa-user"></span>Welcom <%= user.username %></h3> -->
                    <a href="/logout"><button type="button" name="button" class="btn btn-lg btn-success">logout</button></a><br><br>
                    <span id="demo"></span> Km <br/>
                    <input type="range" min="0" max="100" name="distance" value="30" id="myRange" style="width: 30%;"> <br><br>
                    
                <p>
                    <button id="spots">spots</button><button>food</button><button>cars</button><button>chill</button>
                    <button id="Snap" onclick="Snap()">location</button> 
                   <!-- <strong>id</strong><%= user.id %><br>  <button id="Snap" onclick="Snap()">Capture</button> 
                    <strong>user</strong><%= user.username %><br> -->
                </p>
                </div>
            </div>
        </div>
    </div>
    <script>

        document.getElementById("Snap").addEventListener("click", function() {
            var options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
        };
        function success(pos) {
            var crd = pos.coords;
            console.log('Your current position is:');
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            console.log(`More or less ${crd.accuracy/1000} km.`);
        }
        function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
        }
        navigator.geolocation.getCurrentPosition(success, error, options);


        //    // put data in la??????
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
            console.log(xhr.status, xhr.responseText);
        };
            xhr.open('POST', 'profile.ejs', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(crd);
        })        
        </script> 

    
</body>
</html>